@media screen and ( max-width:790px) {
    .text_area {
        font-size: 15px;
    }
}

@media screen and ( max-width:760px) {
    .text_area {
        font-size: 14px !important;
    }
}

@media screen and ( max-width:630px) {
    .main_background_text .main_text_top {
        font-size: 100px;
    }
    .main_background_text .main_text_bottom {
        font-size: 90px;
    }
    .destination_page h1 {
        font-size: 40px;
    }
}

@media screen and ( max-width:576px) {
    .main_background_text .main_text_top {
        font-size: 100px;
    }
    .main_background_text .main_text_bottom {
        font-size: 90px;
    }
    .destination_page h1 {
        font-size: 40px;
    }
}

@media screen and ( max-width:550px) {
    .main_background_text .main_text_top {
        font-size: 60px;
    }
    .main_background_text .main_text_bottom {
        font-size: 50px;
    }
    .destination_page h1 {
        font-size: 40px;
    }
    .about_us_img {
        min-width: 200px;
        height: 300px;
        object-fit: cover;
        gap: 10px;
    }
    .about_us_page_img {
        min-width: 230px;
        height: 250px;
        object-fit: cover;
        gap: 10px;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .main_page_button {
        padding: 8px 20px;
        font-size: 12px;
        font-weight: 600;
    }
    .text_area {
        font-size: 15px;
    }
}

@media screen and ( max-width:524px) {
    .about_us_page_img {
        min-width: 200px;
        height: 250px;
        object-fit: cover;
        gap: 10px;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .booknow_box {
        background-color: white;
        min-width: 450px;
        height: 550px;
    }
    .booknow_background_text h2 {
        font-size: 45px;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        color: white;
    }
    .booknow_background_text p {
        font-size: 17px;
        font-family: 'Dosis', sans-serif;
        font-weight: 400;
        color: white;
    }
}


/* About Us Resposive */

@media screen and ( max-width:463px) {
    .about_us_img {
        min-width: 150px;
        height: 200px;
        object-fit: cover;
        gap: 10px;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .about_us_page_img {
        min-width: 180px;
        height: 200px;
        object-fit: cover;
        gap: 10px;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    /* Tour Card Responsive */
    .tour_card {
        width: 350px;
        height: 400px;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .tour_img {
        min-width: 130px;
        height: 350px;
        position: relative;
    }
    .tour_desc {
        padding-left: 10px;
        color: gray;
    }
    .tour_img span {
        padding: 4px 8px;
    }
    .tour_desc h3 {
        color: #71C9CE;
        font-size: 25px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .tour_desc h3 span {
        color: gray;
        font-size: 10px;
    }
    .tour_stars {
        color: gold;
        padding-left: 20px;
    }
    .tour_sign {
        font-size: 10px;
        padding-top: 8px;
    }
    .tour_sign .fa-solid {
        font-size: 16px;
        padding-left: 20px;
    }
    .tour_button {
        padding: 8px 18px;
        margin-left: 20px;
        border: none;
        font-weight: bold;
        background: transparent;
        color: #71C9CE;
    }
    /* Testimonial */
    .testimonial h1 {
        text-align: center;
        padding-top: 50px;
        color: #A6E3E9;
    }
    .testimonial_img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
    .carousel {
        width: 300px;
        height: 250px;
        margin-left: 20px;
    }
    .faq_section {
        display: none;
    }
    .booknow_box {
        background-color: white;
        min-width: 400px;
        height: 550px;
    }
    .booknow_background_text {
        margin-top: 100px;
        min-width: 30px;
        height: 300px;
    }
    .booknow_background_text h2 {
        font-size: 30px;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        color: white;
    }
    .booknow_background_text p {
        font-size: 15px;
        font-family: 'Dosis', sans-serif;
        font-weight: 400;
        color: white;
    }
}

@media screen and ( max-width:435px) {
    .about_us_page_img {
        min-width: 160px;
        height: 200px;
        object-fit: cover;
        gap: 10px;
    }
    .blog-big-content {
        margin-bottom: 60px;
    }
    .blog-big-card h4 {
        position: absolute;
        bottom: 0;
        margin-left: 20px;
        font-size: 17px;
    }
    .blog_page_3 .blog-big-content {
        position: absolute;
        display: flex;
        justify-content: start;
        bottom: 0;
        margin-bottom: 80px;
        margin-left: 20px;
    }
    .blog_page_3 h3 {
        position: absolute;
        bottom: 0;
        margin-left: 20px;
        font-size: 18px;
    }
    .booknow_box {
        background-color: white;
        min-width: 350px;
        height: 550px;
    }
}

@media screen and ( max-width:420px) {
    .booknow_box {
        background-color: white;
        width: 300px !important;
        height: 550px;
    }
}
